body{
  font-size: 20px;
}

p{
  line-height: 24px;
}

.noDecoration, a:link, a:visited{
  text-decoration: none;
}

.thumbnail:hover{
  background-color: #acc0e0;
}

p.thumbnailDescription{
  font-size: 14px;
}

.img-area{
  height: 300px;
  overflow: none;
}
